.mainQuestions a:link {
  color: #503607;
  background-color: transparent;
  text-decoration: none;
}

.mainQuestions a:visited {
  color: #503607;
  background-color: transparent;
  text-decoration: none;
}

.mainQuestions a:hover {
  color: #503607;
  background-color: transparent;
  text-decoration: none;
}

.mainQuestions a:active {
  color: #503607;
  background-color: transparent;
  text-decoration: none;
}
 