<% layout('layouts/boilerplate') -%>

<h1>All Questions !</h1>
<a href="/collegeQuora/new">New Question</a>
<hr>
<% for(let q of questions){ %>
    <div class="card my-2">
        <div class="card-body">
            <a href="/collegeQuora/<%= q._id %>"><%= q.question %></a>
        </div>
    </div>
<% } %>