<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Question</title>
</head>
<body>
    
    <form action="/collegeQuora/new" method="POST">
        <div>
            <label for="question">Question : </label>
            <input type="text" id="question" name="question[question]">
        </div>
        <button>Add Question</button>
    </form>

</body>
</html>